<div id="<%= dom_id pinger %>">
  <td>
    <%= pinger.name %>
  </td>

  <td>
    <%= pinger.address %>
  </td>

  <td>
    <%= pinger.interval %>
  </td>

  <td>
    <%= pinger.timeout %>
  </td>

  <td>
    <%= pinger.port %>
  </td>

  <td>
    <%= pinger.pinger_type %>
  </td>

  <td>
    <%= pinger.enabled %>
  </td>

  <td>
    <%= pinger.pinged_at %>
  </td>
</div>
