<div id="<%= dom_id pinger %>">
  <p>
    <strong>Name:</strong>
    <%= pinger.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= pinger.address %>
  </p>

  <p>
    <strong>Interval:</strong>
    <%= pinger.interval %>
  </p>

  <p>
    <strong>Timeout:</strong>
    <%= pinger.timeout %>
  </p>

  <p>
    <strong>Port:</strong>
    <%= pinger.port %>
  </p>

  <p>
    <strong>Pinger type:</strong>
    <%= pinger.pinger_type %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= pinger.enabled %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pinger.status %>
  </p>

  <p>
    <strong>Pinged At:</strong>
    <%= time_tag pinger.pinged_at, "data-local": "time-ago" %>
  </p>

</div>
